/* Matchday Center 2025 */
/* Author: Rui Pedro Moreira */
/* github.com/rpdorm/matchdaycenter */

p, main, body, h6 {
  padding: 0;
  margin: 0;
  margin-top: 1%;
}

body {
  font-family:
    /* 1 */ -apple-system, BlinkMacSystemFont,
    /* 2 */ "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    /* 3 */ "Helvetica Neue", sans-serif;
    font-size: 23px;
    background-color: rgb(52, 52, 52);
    color: white;
}
header {
	display: block;
	text-align: center;
	font-size: 26px;
	border-bottom: solid 2px #fff;
	padding-bottom: 1%;
	margin:1%;

}
a {
	display: block;
	font-size: 14px;
	padding: 6px;
	color: white;
	background-color: rgb(120, 120, 120);
	text-decoration: none;
	border-radius: 4px;
}
.matches, .live {
	display: flex;
	flex-wrap: wrap;
}
.info {
	display: flex;
	overflow: hidden;
	font-size: 15px;
	height: 30px;
	padding-bottom:1%;
}
.home, .away {
	display: block;
	overflow: hidden;
	padding-bottom:2%;
}
.home_team, .away_team {
	float: left;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 120px);
	height: 36px;
}
.home_score, .away_score {
	float: right;
}
.pen {
	font-size: 20px;
}
img.team_logo {
	height: 40px;
	float: left;
	margin-right: 6px;
}
img.red {
	float: left;
}
img.tournament_logo {
	height: 16px;
	float: left;
	margin-right: 6px;
	margin-top: 4px;
}
.tournament {
	float: left;
	display: inline-flex;
	font-weight: bold;
}
.time {
	float: right;
	display: inline-flex;
	text-align: right;
	margin-left: auto;
	font-weight: bold;
}
.more {
	text-align: center;
	margin-top: 1%;
}

@media only screen and (max-width: 700px) {
	.match {
		flex: 100%;
		min-width:96.5%;
		max-width:96.5%;
		display: block;
		float: left;
		margin:.5%;
		padding:1%;
		border: solid 1px rgb(120, 120, 120);
		border-radius:8px;
		background-color: #2c2c2c;
		font-size: 30px;
	}
}

@media only screen and (min-width: 701px) and (max-width: 10200px) {
	.match {
		flex: 40%;
		min-width:35%;
		max-width:50%;
		display: block;
		float: left;
		margin:.5%;
		padding:1%;
		border: solid 1px rgb(120, 120, 120);
		border-radius:8px;
		background-color: #2c2c2c;
		font-size: 30px;
	}
}

@media only screen and (min-width: 1021px) {
	.match {
		flex: 30%;
		min-width:30.5%;
		max-width:30.5%;
		display: block;
		float: left;
		margin:.5%;
		margin-right: 0;
		margin-top: 0;
		padding:1%;
		border: solid 1px rgb(120, 120, 120);
		border-radius:8px;
		background-color: #2c2c2c;
		font-size: 30px;
	}
}